@use "../../mixins.scss" as m;

.container {
  @include m.container;
}

.flexWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundText {
  @include m.titleFont(24px);
}
